* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
body{
    background-color:rgb(217, 218, 219);
}
h3 {
    margin-top: 50px;
    margin-bottom: 20px;
}
span {
    padding: 0.5%;
    background-color: rgb(138, 165, 201);
    display: inline;
}
.unselected {
    border:green 5px solid;
}
.grouper {
    text-align: center;
    margin: auto;
    display: block;
}
.selected {
    border: blue 5px solid;
}
.result {
    font-size: 32;
}