body{
    background-color:rgb(217, 218, 219);
    font-family:Arial, Helvetica, sans-serif;
}
.container {
    width: 500px;
    margin: 0 auto;
}
.item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.item:hover {
    background-color:rgb(185, 185, 185);
    
}
img {
    margin-right: 10px;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}